.nav-tabs {
  li {
    vertical-align: bottom;
  }
  li a { color: $black !important; border-radius: 0 !important;}
  li.active a { font-weight: bold;}
}
.tab-content {
  .presse {
    padding-top: 4rem;

    .panel {
      position: relative;
      border-bottom: .1rem solid $light-gray;
      border-radius: 0;
      a {
        font-size: 2.4rem;
        font-weight: bold;
        color: $black;
        text-decoration: underline;
      }
      .date {
        font-weight: bold;
        @media (min-width: $screen-sm-min) {
          text-align: right;
        }
      }
    }
  }
}
