.sciences-participatives {

  .collectif {
    .media {
      a {
        color: inherit;
        text-decoration: underline;
        font-style: italic;
      }

      &-left {
        vertical-align: middle;
        img { margin-right: 3rem; }
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .collectif {
      .media-left, .media-body {
        display: block;
        width: 100%;
      }
      .media-left {
        margin-bottom: 2rem;
      }
    }
  }

}
