{% block tree_widget %}
      <ul class="listless spaced-listless" id="mainList">
        {% for choiceOrOptionGroup, children in form.vars.choices %}
            {% if children is iterable %}
                <ul class="listless" >
                    {% for child, choiceView in children %}
                        <li>
                            <label class="checkbox">
                                {{ form_widget(form.offsetGet(child)) }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}

                {# If not first loop, close previous <li> #}
                {% if not loop.first %}
                    </li>
                {% endif %}

                <li>
                <label class="checkbox">
                    {{ form_widget(form.offsetGet(choiceOrOptionGroup)) }}
                </label>
            {% endif %}

            {# Last of the loop, there will be an open <li>, close it. #}
            {% if loop.last %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}