{% extends "AdminBundle::builder_layout.html.twig" %}

{% block body %}
    <h1>Page inexistante</h1>

    <p>
        L'url demandé ne correspond à aucune page.
    </p>
    <a href="{{ path('homepage') }}">Retourner à l'accueil</a>.
{% endblock %}