{# Template par defaut #}
{% extends template_repo ~ '/views/templates/default.html.twig' %}

{% block body %}
    <h1>Accès refusés</h1>

    <p>
        Vous n'êtes pas autorisé à accéder à cette page.
    </p>
    <a href="{{ path('homepage') }}">Retour à l'accueil</a>.
{% endblock %}