// carousel

#homeCarousel {
  .page-hero__title {
    z-index: 2;
    background: $red;
    h1 {
      color: $white;
      font-size: 1.8rem;
   }
  }


  .owl-carousel {
    height: 100%;
    padding: 0;

    [class*="owl-"] {
      height: 100%;
    }

    .owl-nav {
      position: relative;
      transform: translateY(-100%);
      pointer-events: none;

      .owl-prev, .owl-next { pointer-events: all; color: $white; }
      .owl-prev { left: 1rem; }
      .owl-next { right: 1rem; }
    }

    .item {
      height: 100%;
      background-size: cover !important;
      background-position: center !important;

      .carousel-caption {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        background: rgba($white, .75);
        padding: 2rem;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h3, p {
          margin: 0;
          text-shadow: none;
        }
        h3 {
          line-height: 1;
          color: $red;
          font-family: $amatic;
          font-size: 2.5rem;
        }
        p {
          font-size: .8rem;
          color: $black;
        }
      }
    }
    .owl-item {
      &:nth-child(4) h3 { color: $orange; }
      &:nth-child(5) h3 { color: $blue; }
    }

  }
}

.hp-infosNumber {
  margin-bottom: 2rem;
  i {
    font-size: 4rem;
  }
  strong {
    display: block;
  }
}

.hp-observatoires, .hp-evenements, .hp-actualites {

  .hp_formulaire {
    .form__especes {
      display: none;
    }
    .mot_cle {
      @media(min-width: $screen-sm-min) {
        position: absolute;
        right: -8rem;top: -8rem;
      }
    }
  }

  > a {
    display: block;
    width: 100%;
    border-radius: 0;

    @media (min-width: $screen-md-min) {
      display: inline-block;
      width: auto;
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  .media-heading {
    text-transform: inherit;
    font-weight: bold;
    small {
      display: block;
      text-transform: uppercase;
      font-weight: normal;
      margin-top: .5rem;
    }
  }
  .media-body p {
    line-height: 1.3;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
}

.hp-observatoires {

  .list-observatoires {

    .item {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: flex-start;

      .media {
        @media (min-width: $screen-sm-min) {
          width: 60%;
        }
        @media (min-width: $screen-md-min) {
          width: 70%;
        }
      }

      .icons {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;flex-wrap: wrap;
        justify-content: flex-end;

        a {
          color: $black;
          font-size: 1.4rem;
        }

        .icons-theme { color: $orange; }
        .icons-niveau { color: $blue; }
        .icons-especes { color: $green; }
        > div {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;

          .icon {
            padding: 0 .5rem;
            text-align: center;
            border-bottom: .1rem solid $black;
            padding-bottom: .5rem;
          }

          svg {
            width: 5rem;
            @media (max-width: $screen-md-min) {
              width: 3rem;
            }
          }

          i {
            font-size: 5rem;

            @media (max-width: $screen-md-min) {
              font-size: 3rem;
            }
          }

          span {
            display: block;
            font-size: .8rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.hp-evenements {
  .media {
    .media-left img {
      @media (max-width: $screen-sm-min) {
        width: 7rem;
      }
    }
    .media-body {
      > a {
        font-size: 1.2rem;
      }
    }
  }
}


// Tablet size
@media (min-width: $screen-sm-min) {
  .carousel .page-hero__title h1 {
    font-size: 3rem;
  }
  .hp-infosNumber {
    strong {
      display: inline-block;
      font-size: 1.6rem;
      margin-left: .5rem;
    }
  }
}

// Desktop size
@media (min-width: $screen-md-min) {
  #homeCarousel .owl-carousel .item {
    .carousel-caption {
      width: 18rem;
      height: 18rem;
      h3 { font-size: 4rem; }
      p { font-size: 1rem; }
    }
  }
  #homeCarousel .page-hero__title h1 {
    font-size: 4.2rem;
  }
  .hp-infosNumber {
    margin-top: -3rem;
    strong {
      display: inline-block;
      font-size: 2rem;
    }
  }

  .hp-observatoires {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  // titles
  .amatic-title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 2.4rem;
    i {
      margin-left: 1rem;
      font-size: 4rem;
    }
  }
}


// Version mobile uniquement
@media (max-width: $screen-sm-min) {
  .hp-observatoires {

    .list-observatoires {
      .media-left {
        img {
          width: 7rem;
        }
      }
      .media-body p {
        font-size: 1rem;
      }
    }
  }
}
