[submodule "Builder/PageBundle"]
	path = Builder/PageBundle
	url = https://github.com/NaoLucho/pagebuilder.git
[submodule "src/Builder/PageBundle"]
	path = src/Builder/PageBundle
	url = https://github.com/NaoLucho/pagebuilder.git
