{# Content = Contient tout ce qui concerne le contenu des pages #}
<div class="row hp-infosNumber mb-5">
    <div class="col-xs-6 text-center">
        <i class="icon-niveauTous"></i>
        <strong>{{participants}} participants</strong>
    </div>
    <div class="col-xs-6 text-center">
        <i class="icon-observatoire"></i>
        <strong>{{programs}} observatoires</strong>
    </div>
</div>