.owl-carousel {
  position: relative;
  padding: 0 6rem;

  .item {
    position: relative;
    &__categorie {
      position: absolute;
      left: 0;
      top: 0;

      @media(min-width: $screen-sm-min) {
        position: relative;
      }
      i {
        font-size: 4rem;
      }
      &.article { color: $red; }
      &.twitter { color: #55ACEE; }
    }
    &__content {

      > a {
        display: block;
        padding-left: 5rem;
        margin-bottom: 1rem;

        @media (min-width: $screen-sm-min) {
          padding-left: 0;
          margin-left: 1rem;
        }
      }

      img {
        height: 13rem;
        width: 100% !important;
        object-fit: cover;
      }
      h4 {
        margin-bottom: 0;
      }
      p {
        line-height: 1.3;
        font-size: 1.4rem;
      }

      @media (min-width: $screen-sm-min) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        > a {
          width: 23rem;
          flex: 1;
        }

        > a + div {
          margin-left: 1.5rem;
          flex: 1;
        }
      }
    }
  }

  .owl-nav {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      height: auto !important;
      transform: translateY(-50%);
      text-indent: -9999px;

      &::after {
        font-family: $amatic;
        font-size: 6rem;
        text-indent: 0;
        display: block;
      }
    }

    .owl-prev {
      left: 0;
      &::after {
        content: '<';
      }
    }
    .owl-next {
      right: 0;
      &::after {
        content: '>';
      }
    }
  }
}
