.nav-tabs {
  li a {
    border-bottom-color: $black !important;
    color: $black;
    font-size: 1.8rem;
    &:hover {
      background: none;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -.1rem;
      left: 0;
      width: 100%;
      height: 0;
      background: $black;
      transition: height .3s;
    }
  }
  li.active a, li:hover a {
    border: none !important;
    &::after {
      height: .5rem;
    }
  }

  // is-blue -> ecosysteme example
  &.is-blue {
    border-bottom: none;
    li a {
      border-bottom: none;
    }
    li.active a, li:hover a {
      color: $blue;
      &::after {
        background: $blue;
      }
    }
  }
}
