{% extends 'templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Homepage' %} {# Titre de la page - header-mea & tab du navigateur #}

{% block body %}


  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <div class="container content">
    {{title}}
  </div>
{%  endblock %}
