{# <form action="{{ path('builder_buildpage', {'slug': 'recherche'}) }}" method="GET">
<div class="search-container">
      <input placeholder="Recherche.." type="text" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
</div>
</form> #}

<div class="lateral-bloc">
<a class="d-flex btn" href="/news"><div  class="btn big_btn w-100">Actualit&eacute;s </div></a>
<div>&nbsp;</div>

<div class="lateral-bloc">
    {{ render(controller("SiteBundle:News:listRecent", {'title':'Dernières Actualités', 'limit': 3})) }}
</div>

{{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Lateral'})) }}
</div>
