{# <form action="{{ path('builder_buildpage', {'slug': 'recherche'}) }}" method="GET">
<div class="search-container">
      <input placeholder="Recherche.." type="text" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
</div>
</form> #}

<div class="lateral-bloc">
{{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Lateral'})) }}
</div>
