<div class="home_title w-100">Notre association vous propose 2 domaines d'apprentissages :</div>
<div class="w-100 d-flex justify-content-around my-4">
        <a href="#cours-d-espagnol" class="home_btn">
            <div class="btn big_btn col">
                L'espagnol
            </div>
        </a>
        <a href="/methodologie_concours_examens" class="home_btn">
            <div class="btn big_btn col">
                Méthodologie Concours & Examens
            </div>
        </a>
</div>

{% stylesheets '@SiteBundle/Resources/public/css/home.css' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
