.ecosysteme_formulaire {
  @media(min-width: $screen-sm-min) {
    form {
      // padding-bottom: 5rem;
    }
  }
  .mot_cle {
    @media(min-width: $screen-sm-min) {
      position: absolute;
      right: -8rem;top: -8rem;
    }
  }
}

#observatoires {

  .list-observatoires {
    .item {
      .media {

        @media (min-width: $screen-sm-min) AND (max-width: $screen-md-min) {
          width: 80%;
        }
      }
      .icons {
        > div span {
          @media (min-width: $screen-sm-min) AND (max-width: $screen-md-min) {
            display: inline-block;
          }
        }
      }
    }
  }
}

#acteurs {

  .structures {

    li { border-radius: 0;}

    .row {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
    }

    .index {
      font-size: 2rem;
      color: $red;
      font-weight: bold;
    }

    img { max-width: 100%; }

    a {
      color: $red;
      font-weight: bold;
      i {
        font-size: 1.2rem;
      }
    }
  }
}
