.inscription-form {
  input[type='text'], input[type='email'], input[type='password'] {
    &::placeholder {
      text-transform: uppercase;
    }
  }

  label {
    text-transform: inherit;
    letter-spacing: inherit;
  }

  .checkbox {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .create-structure {
    margin: 3rem auto;
    display: none;

    &.active {
      display: block;
    }

    .title {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 2rem;

      i {
        vertical-align: middle;
        margin-left: .5rem;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .inscription-form {
    input[type='text'], input[type='email'], input[type='password'] {
      height: 4rem;
    }

    .create-structure {
      padding-left: 5rem;
    }
  }
}
