@import "variables";
@import "bootstrap";
@import "bases";
@import "helpers";

// Import header and footer elements
@import "header";
@import "footer";

// Import components
@import "components/fonts";
@import "components/forms";
@import "components/titles";
@import "components/accordion";
@import "components/tabs";
@import "components/buttons";
@import "components/modal";
@import "components/carousel";
@import "components/pagination";

@import "owl.carousel.min";

// Import pages styles
@import "pages/home";
@import "pages/presse";
@import "pages/inscription";
@import "pages/ecosysteme";
@import "pages/creation-observatoire";
