@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/icomoon.eot?8mj106');
  src:  url('../fonts/icons/icomoon.eot?8mj106#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?8mj106') format('truetype'),
    url('../fonts/icons/icomoon.woff?8mj106') format('woff'),
    url('../fonts/icons/icomoon.svg?8mj106#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::after {
    color: inherit;
  }
}

.icon-agricole:before {
  content: "\e900";
}
.icon-algues:before {
  content: "\e901";
}
.icon-arachnides:before {
  content: "\e902";
}
.icon-arbres:before {
  content: "\e903";
}
.icon-article:before {
  content: "\e904";
}
.icon-automne:before {
  content: "\e905";
}
.icon-calendrier:before {
  content: "\e906";
}
.icon-champignons:before {
  content: "\e907";
}
.icon-cible:before {
  content: "\e908";
}
.icon-climatique:before {
  content: "\e909";
}
.icon-coraux:before {
  content: "\e90a";
}
.icon-crustaces:before {
  content: "\e90b";
}
.icon-danger:before {
  content: "\e90c";
}
.icon-disponibilite:before {
  content: "\e90d";
}
.icon-ecole:before {
  content: "\e90e";
}
.icon-envahissante:before {
  content: "\e90f";
}
.icon-espece:before {
  content: "\e910";
}
.icon-especeVert:before {
  content: "\e911";
}
.icon-ete:before {
  content: "\e912";
}
.icon-evenement:before {
  content: "\e913";
}
.icon-foret:before {
  content: "\e914";
}
.icon-gasteropodes:before {
  content: "\e915";
}
.icon-geoLoc:before {
  content: "\e916";
}
.icon-grandMam:before {
  content: "\e917";
}
.icon-hiver:before {
  content: "\e918";
}
.icon-insectes:before {
  content: "\e919";
}
.icon-lacs:before {
  content: "\e91a";
}
.icon-lieu:before {
  content: "\e91b";
}
.icon-loupe:before {
  content: "\e91c";
}
.icon-mamMer:before {
  content: "\e91d";
}
.icon-meduses:before {
  content: "\e91e";
}
.icon-membres:before {
  content: "\e91f";
}
.icon-mer:before {
  content: "\e920";
}
.icon-modifier:before {
  content: "\e921";
}
.icon-montagne:before {
  content: "\e922";
}
.icon-mousses:before {
  content: "\e923";
}
.icon-newPhoto:before {
  content: "\e924";
}
.icon-niveauBleuTous:before {
  content: "\e925";
}
.icon-niveauInities .path1:before {
  content: "\e926";
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(169, 57, 56);
}
.icon-niveauInities .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(169, 57, 56);
}
.icon-niveauInities .path8:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path9:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauInities .path10:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(8, 199, 211);
}
.icon-niveauTous:before {
  content: "\e930";
}
.icon-observatoire:before {
  content: "\e931";
}
.icon-oiseaux:before {
  content: "\e932";
}
.icon-parc:before {
  content: "\e933";
}
.icon-paysages:before {
  content: "\e934";
}
.icon-petitMam:before {
  content: "\e935";
}
.icon-plantes:before {
  content: "\e936";
}
.icon-poissons:before {
  content: "\e937";
}
.icon-printemps:before {
  content: "\e938";
}
.icon-protege:before {
  content: "\e939";
}
.icon-raies:before {
  content: "\e93a";
}
.icon-reptiles:before {
  content: "\e93b";
}
.icon-themeJaune:before {
  content: "\e93c";
}
.icon-twitter:before {
  content: "\e93d";
}
.icon-ville:before {
  content: "\e93f";
}
