{% extends template_repo ~ '/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Demande d\'inscription' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelInscription.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <h3 class="text-center">Créer un compte</h3>
  {# <p class="text-center">Bienvenue sur le site</p> #}

  <form action="#" class="mt-3 inscription-form">
    <div class="form-group">
      <input type="text" class="form-control" name="name" id="name" placeholder="Nom">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prénom">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmation mot de passe">
    </div>

    <button type="submit" name="button" class="btn btn-block btn-danger btn-lg mt-3">Je crée un compte</button>
  </form>

{%  endblock %}
