header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  transition: all .3s;

  &.scrollable {
    background: rgba($black, .5);
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
  }

  .logo {
    z-index: 300;
    position: relative;
    text-decoration: none;
    span {
      display: block;
      text-transform: uppercase;
      color: white;
      font-size: .8rem;

      &:first-of-type {
        font-size: 4rem;
        line-height: initial;
      }
      &:last-of-type {
        width: 12rem;
      }
    }
  }

  .closeMenu {
    width: 2rem;
    height: 2rem;
    background: $white;
    color: $light-gray;
    position: absolute;
    right: 2rem;
    top: 2rem;
    text-align: center;
    padding-top: .1rem;
    cursor: pointer;
  }

  .toggleMenu, .closeMenu--sm {
    display: flex;
    align-items: baseline;
    color: $white;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: .1rem solid $white;
    border-radius: .3rem;
    z-index: 3;
    font-size: 2rem;
    &:hover {
      text-decoration: none;
    }

    span {
      margin-left: .5rem;
    }
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    max-height: 100vh;
    width: 22rem;
    padding-top: 8rem;
    background: rgba($light-gray, .8);
    z-index: 3;
    transition: all .3s;
    display: none;

    &.open {
      display: block;
    }

    ul {
      list-style-type: none;
      padding-left: 2rem;
      margin: 0;
      li {
        font-size: 1rem;
        border-bottom: .1rem solid $white;
      }
      li.espacepro-link {
        border-bottom: none;
        font-size: 1.2rem;
        a {
          padding: 2.5rem 0;
          color: $red;
          font-weight: bold;
        }
      }

      a {
        color: $white;
        display: block;
        text-transform: uppercase;
        padding: 1.5rem 0 .5rem 0;
        font-weight: 400;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }

}

.page-hero {
  height: 25rem;
  overflow: hidden;
  background-color: $red;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($white, .7);
    padding: 1rem 0;
    font-family: $amatic;

    h1 {
      margin: 0;
      font-size: 3rem;
      line-height: 1;
      font-weight: bold;
    }
  }
}


// Header et navigation au format tablette
@media (min-width: $screen-sm-min) AND (max-width: $screen-md-min) {
  header.header {

    .brand {
      padding: 2rem 0;
    }

    .brand .logo {
      display: flex;
      align-items: center;

      span:last-of-type {
        width: 6.5rem;
        margin-left: .5rem;
      }
      span:first-of-type {
        font-size: 4.1rem;
      }
    }

    .toggleMenu, .closeMenu--sm {
      padding: .5rem 1rem;
      font-size: 1.4rem;
    }
    .closeMenu--sm {
      position: absolute;
      right: calc((100vw - 750px) / 2 + 15px);
      top: 3rem;
    }

    nav {
      width: auto;
      left: inherit;
      right: 0;
      padding-top: 6.1rem;

      ul {
        padding-left: 3.5rem;
        padding-right: calc((100vw - 750px) / 2 + 1.5rem);
        li {
          text-align: right;
        }
        li.espacepro-link a {
          padding: 1.5rem 0;
        }
      }
      a {
        font-size: 1.4rem;
      }
    }
  }

  .page-hero {
    height: 30rem;
  }
}


// Header et navigation au format desktop
@media (min-width: $screen-md-min) {
  header.header {
    height: 7rem;
    overflow: hidden;
    background: rgba($white, .2);

    .container {
      display: flex;
      justify-content: space-between;
    }

    .brand .logo {
      display: flex;
      align-items: center;

      span:last-of-type {
        width: 8rem;
        font-size: 1;
        margin-left: .5rem;
      }
      span:first-of-type {
        font-size: 6rem;
      }
    }

    nav {
      flex: 1;
      display: block;
      position: relative;
      width: auto;
      background-color: transparent;
      padding-top: 0;
      margin-left: 5.5%;

      ul {
        display: flex;
        align-self: flex-end;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        li {
          border-bottom: none;
          text-align: center;
          vertical-align: middle;
          height: 100%;
          line-height: 1;
          flex: 1;

          &.espacepro-link {
            width: 10rem;
            max-width: min-content;
            background: rgba($white, .8);
            a {
              font-size: 1.8rem;
            }
          }

          &:hover, &:focus, &.active {
            a {
              background: $red;
              color: $white;
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1rem !important;
          font-size: 1.5rem;
          height: 100%;
          transition: all .3s;
        }
      }
    }
  }

  .page-hero {
    height: 45rem;

    &__title h1 {
      font-size: 7.2rem;
    }
  }
}
