// Helpers pour les marges et paddigns

$pads: (
	l: left,
	r: right,
	t: top,
	b: bottom
);

@each $side, $pad in $pads {
	@for $i from 1 through 10 {
		.p#{$side}-#{$i} {
			padding-#{$pad}: $i+rem !important;
		}
	}
}

@media (max-width: $screen-sm-min) {
  @each $side, $pad in $pads {
  	@for $i from 1 through 10 {
  		.p#{$side}-#{$i} {
  			padding-#{$pad}: calc(#{$i}rem / 2) !important;
  		}
  	}
  }
}

$margs: (
	l: left,
	r: right,
	t: top,
	b: bottom
);

@each $side, $marg in $margs {
	@for $i from 0 through 10 {
		.m#{$side}-#{$i} {
			margin-#{$marg}: $i+rem !important;
		}
	}
}

@media (max-width: $screen-md-min) {
  @each $side, $marg in $margs {
  	@for $i from 0 through 10 {
  		.m#{$side}-#{$i} {
  			margin-#{$marg}: calc(#{$i}rem / 2) !important;
  		}
  	}
  }
}


//  Taille
.h-auto {
  height: auto !important;
}
.w100	{
	width: 100%;
}

.bordered {
	border: .1rem solid $black;
	padding: .5rem;
}

.bloc-shadow {
	box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.15);
	padding: 2rem;
}
