# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: sitebuilder
    database_user: root
    database_password: root
    mailer_transport: gmail
    mailer_host: 127.0.0.1
    mailer_user: louis.watrin@gmail.com
    mailer_password: pass
    mailer_encryption: ssl
    project_name: Sites/sitebuilder
    upload_prefix: /%project_name%/web/uploads
    image_prefix: '%upload_prefix%/img'
    secret: cecilesecret
    template_repo: site