# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

parameters:
    database_host: santheqpcpl.mysql.db
    database_port: null
    database_name: santheqpcpl
    database_user: santheqpcpl
    database_password: fungaD
    mailer_transport: gmail
    mailer_host: null
    mailer_user: louis.watrin@gmail.com
    mailer_password: gmailP
    mailer_encryption: ssl
    project_name: parciparla
    upload_prefix: /uploads
    image_prefix: '%upload_prefix%/img'
    secret: grimpe
    template_repo: site
    table_prefix: pp__