<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-4 newsletter">
                <p>Je m'abonne à la newsletter Open</p>
                {# Mise en place du formulaire pour l'inscription à la newsletter #}
                <form action="#">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inscription-newsletter" placeholder="email@domaine.fr">
                        <input type="submit" value="OK">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <nav>
                    <ul>
                        {% set links = [ { "path": 'qui-sommes-nous', "title": 'Qui sommes-nous ?' }, { "path": 'faq', "title": 'FAQ' }, { "path":
                        'charte-du-portail', "title": 'Charte du portail' }, { "path": 'presse', "title": 'Presse', "class":
                        'active' }, { "path": 'mentions-legales', "title": 'Mentions légales' }, { "path": 'contacts', "title":
                        'Contacts' } ] %} {# Les liens pour la navigation du footer #} {% for link in links %}
                        <li {% if link.class is defined %} class="{{link.class}}" {% endif %}>
                            <a href="{{ link.path }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>