// Define fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:300,400,900');

$font: 'Lato', sans-serif;
$amatic: 'Amatic SC', cursive;

// Define colors
$red: #aa3839;
$white: #ffffff;
$black: #323231;
$light-gray: #b1b1b1;
$green: #adcda4;
