
{# MENU: {{menuName}} #}
{% if menuprincipal %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
      {% for menupage in menuprincipal.menuPages %}
        <li>
          <a href="{{ path('site_buildpage', {'slug': menupage.page.slug}) }}">
            {{ menupage.page.name }}
          </a>
        </li>
      {% else %}
        <li>Pas de pages.</li>
      {% endfor %}
  </ul>
</nav>
{# {% set menu = knp_menu_get('BuilderBundle:Builder:mainMenu', [], {'menuName': menuName}) %}
{{ knp_menu_render(menu) }} #}
{% else %}
Menu inexistant
{% endif %}