.map {
    height: 70vh;
    width: 100%;
}

.tooltip {
  position: relative;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  opacity: 0.9;
  white-space: nowrap;
  font: 15pt sans-serif;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(153, 153, 153); 
}

.tooltipLogo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}