html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625); /* IE fix */
}

body {
  font-size: 1.4rem;
  font-family: $font;
  font-weight: 300;

  @media (min-width: $screen-md-min) {
    font-size: 1.6rem;
  }
}

a {
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

/* Content min height pour fixer le footer tout le temps en bas
** même quand le contenu ne prend pas toute la hauteur du viewport
*/
main {
  min-height: calc(100vh - 19.3rem);

  @media (min-width: $screen-sm-min) {
    min-height: calc(100vh - 11.9rem);
  }
  @media (min-width: $screen-md-min) {
    min-height: calc(100vh - 14.4rem);
  }
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media(min-width: $screen-md-min) {
    // padding-top: 7.5rem;
    // padding-bottom: 7.5rem;
  }

  p {
    line-height: 1.8;
    white-space: pre-line;
    text-align: justify;
  }
  .panel {
    box-shadow: none;
  }
}

#modalLogin {
  // background: rgba($black, .95);
  // color: $white;

  .remember {
    label {
      text-transform: initial;
      font-weight: normal;
      letter-spacing: 0;
    }
  }

  @media (max-width: $screen-md-min) {
    .col-md-6:first-of-type {
      margin-bottom: 2rem;
    }
  }

  .forgotPassword {
    color: $white;
    text-decoration: underline;
  }

  .btn {
    padding: 1rem 0;
  }

  .bordered {
    border-color: $white;
  }

  @media (min-width: $screen-md-min) {
    .modal-body {
      padding-bottom: 3rem;
      > .row {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        .col-md-6:first-of-type {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: column;

          padding-right: 4rem;
          border-right: .1rem solid $white;

          form {
            height: 100%;
            position: relative;

            .btn {
              position: absolute;
              bottom: 0;
            }
          }
        }
        .col-md-6:last-of-type {
          padding-left: 4rem;
        }
      }
    }
  }
}
