.accordion {
  border-radius: 0;
  border-top: .1rem solid $light-gray;
  margin-bottom: 0;
  box-shadow: none;

  &:last-of-type {
    border-bottom: .1rem solid $light-gray;
  }

  &__title a {

    text-transform: uppercase;
    font-size: 1.6rem;
    color: $black;
    display: block;
    font-weight: 400;
    padding: 2.5rem 0;

    @media (min-width: $screen-md-min) {
      font-size: 2.2rem;
    }

    &, &:hover, &:focus {
      text-decoration: none;
      color: inherit;
    }

    .glyphicon {
      margin-left: 1rem;
      transform: scale(0.6);
    }

    &.collapsed .glyphicon {
      transform: rotate(-90deg) scale(0.6);
    }
  }

  &__content {
    margin-bottom: 2.5rem;
  }
}
