.btn {
  text-transform: uppercase;
  font-weight: bold;

  &.no-radius {
    border-radius: 0;
  }

  $colors: (
    blue: $blue,
    green: $green,
    orange: $orange,
    red: $red,
    gray: $gray,
    light-gray: $light-gray
  );

  @each $key, $color in $colors {
    &.is-#{$key} {
      background-color: #{$color};
    }
  }
}
