ul.list {
  li {
    list-style-type: none;
    position: relative;
  }
  &.is-orange li::before {
    color: $orange;
    content: '•';
    position: absolute;
    left: -2rem;
  }

  &.is-circle {
    li {
      list-style-type: circle !important;
      &::before { display: none; }
    }
  }
}
