/* CSS général (body_layout) */

/* CSS pour le menu lateral: */

.div-illustration{
    width: 32px;
}

.icon-illustration{
    max-height: 25px;
    max-width: 30px;
}

.info-date{
    font-size: 12px;
    margin-top: 4px;
}

.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.card-body{
    text-justify: inter-word;
}

.card-body:hover{
    background-color: #ffc40040;
}

.content-card a{
    color:#4F4F4F !important;
    text-decoration: none;
}

.content-card a:hover{
    color:none !important;
    text-decoration:none !important
}

.icon-title{

    text-align: center;
    font-size: 40px;

}

.card-title {
    text-align: center;
    margin-bottom: .75rem;
}


.carousel{
    margin-bottom: 20px;
}

.carousel .carousel-caption {
    /* top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%); 

    background: rgba(0,0,0,.12);
    border-radius: 30px;*/
    color: #ffc400;
    text-shadow: 2px 1px 1px #000;
    font-size: 22px;
}

.carousel .carousel-caption > h2{
    color: #ffc400;
}

table td{
    vertical-align: top;
}

/* FORM CLASSES */

.help-block{
    color: #df1117;
}

.form-control:focus {
    border-color: #ffc400;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(255,196,0, 0.6);
}
.captcha_image{
    margin-left: 10px;
    margin-right: 10px; 
}
.captcha{
    width: auto;
    display: inline-block;
}

.page_info{
    width: 80% !important;
}