/* CSS général (body_layout) */

/* CSS pour le menu lateral: */

.div-illustration{
    width: 32px;
}

.icon-illustration{
    max-height: 25px;
    max-width: 30px;
}

.info-date{
    font-size: 12px;
    margin-top: 4px;
}