.hero-profil {
  .profil-photo {
    width: 100%;
    position: absolute;
    bottom: 30%;
    left: 0;

    @media (min-width: $screen-sm-min) {
      bottom: 25%;
    }

    img {
      width: 20rem;
      max-width: 8rem;
      @media (min-width: $screen-sm-min) {
        max-width: 12rem;
      }
      @media (min-width: $screen-md-min) {
        max-width: inherit;
      }
    }
  }

  .registery-date {
    font-family: $font;
    font-style: italic;
    font-size: 1.4rem;
    display: none;

    @media (min-width: $screen-sm-min) {
      float: right;
      margin-top: -2rem;
      display: block;
    }
  }
}

.profil-pro {
  position: relative;

  .bloc {
    border-bottom: .1rem solid $gray;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @media (min-width: $screen-sm-min) {
    .btn-deconnexion {
      position: absolute;
      right: 0;
      top: 1rem;
      width: auto;
    }
  }

  .list-notifications {
    &__icon {
      color: $orange;
      margin-right: 1.5rem;
      i { font-size: 3.5rem; }
    }

    p {
      .status {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  #observatoires {

    ul { padding: 0; margin: 0; }

    .obs {
      list-style-type: none;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      margin-bottom: 2rem;

      @media (max-width: $screen-sm-min) {
        flex-direction: column;
      }

      &__image {
        display: none;
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }

      &__content {
        font-size: 1.4rem;

        @media (min-width: $screen-sm-min) {
          margin-left: 2rem;
          width: 50%;
        }


        &__title {
          font-weight: bold;
          font-size: 1.8rem;
          a {
            color: $black;
            text-decoration: underline;
          }
        }
      }

      &__status {
        flex: 1;
        text-align: right;
        font-size: 1.4rem;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
          display: block;
          color: $black;
          text-decoration: underline;
          i {
            font-size: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }

  }

  form {
    display: none;
    label { font-weight: normal; }
  }

}
