// Helpers pour les marges et paddigns

$pads: (
	l: left,
	r: right,
	t: top,
	b: bottom
);

@each $side, $pad in $pads {
	@for $i from 1 through 10 {
		.p#{$side}-#{$i} {
			padding-#{$pad}: $i+rem !important;
		}
	}
}

@media (max-width: $screen-sm-min) {
  @each $side, $pad in $pads {
  	@for $i from 1 through 10 {
  		.p#{$side}-#{$i} {
  			padding-#{$pad}: calc(#{$i}rem / 2) !important;
  		}
  	}
  }
}

$margs: (
	l: left,
	r: right,
	t: top,
	b: bottom
);

@each $side, $marg in $margs {
	@for $i from 0 through 10 {
		.m#{$side}-#{$i} {
			margin-#{$marg}: $i+rem !important;
		}
	}
}

@media (max-width: $screen-md-min) {
  @each $side, $marg in $margs {
  	@for $i from 0 through 10 {
  		.m#{$side}-#{$i} {
  			margin-#{$marg}: calc(#{$i}rem / 2) !important;
  		}
  	}
  }
}


//  Taille
.h-auto {
  height: auto !important;
}
.w100	{
	width: 100%;
}

.bordered {
	border: .1rem solid $black;
	padding: .5rem;
}

.bloc-shadow {
	box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.15);
	padding: 2rem;
}

.is-uppercase {
	text-transform: uppercase !important;
}

a {
	&.is-red {
		color: $red !important;
	}
}

.bloc-modify {
	position: relative;

	&.media {
		padding-top: 2rem;
	}

	i.glyphicon.glyphicon-cog {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 2rem;
		color: $light-gray;
		cursor: pointer;
		transition: color .3s;

		&:hover {
			color: $black;
		}
	}
}

a.is-underline {
	text-decoration: underline;
}

.bloc-modification { display: none; }
.has-modifications {
	.bloc-modification {
		display: block;
	}
}
