<div class="">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {# <h1>Déclarer une programme</h1> #}

    {# { include 'CsfCoreBundle:errors:bo_errors.html.twig' } #}

    <p>Fiche du programme</p>

    

    name = {{program.name}}

    {% for item in program.partners %}

        {{item.imageName}}
    
    {% endfor %}


</div>
