/* PARCIPARLA: https://paletton.com/#uid=74G2c0kw0w0jyC+oRxVy4oIDfjr */


h1,
h2,
h3,
h4 {
    /* color: #9f3587; */
    color: #550784;
}

h3 {
    font-size: 1.3rem;
}

body{
    font-family: Ink Free;
}

hr {
    margin: 15px auto;
    border-top: 1px solid #df1117;
    height: 2px;
    border-bottom: 1px solid #df1117;
    background-color: #FFC400;
    width: 50%;
}

.lateral hr {
    width: 100%;
    border: none;
}

.body-back {

    min-height: 100vh;
    /* display: flex; */
    /* background-color: #df1117; */
}

.container {
    /* background: #FFC400; */
    padding: 0px;
    /* width: 100%;
    max-width: 1370px;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; */
    /* max-width: 1270px; */
    /* margin:           0px auto;
    padding:      0px 0px 0px 0px; */
    /* background-color: white; */
    /* border:           1px  solid #86b0aa; */

}

.page {
    background-color: rgba(255, 255, 255, 0.92);
    position: relative;
    /* box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2); */
    border-radius: 50px;
    /* border: 14px solid darkslategray; */

    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.body {
    font-size: 18px;
    color: #4F4F4F;

    margin-top: 2px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;

}

/* 
.body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.body li {
    padding-left: 1em;
    text-indent: -.7em;
}

.body li::before {
    content: "\25AA   ";
    color: red;
} */

.Header {
    text-align: center;
    margin: 0px 15px;
}

.logo_banner {
    width: 100%;
}

.logo-img {
    background-color:white;
    padding: 10px 20px;
    max-width: 350px;
    z-index: 320;
    position: relative;

    height: 350px;
    /* margin-left: 50px; */
}

.banner-img{
    position: absolute;
    z-index: 310;

    bottom: 0;
    /* left: 350px; */
    
    height: 350px;
    margin-left: 120px;
}

.logo-text {
    height: 100%;
}


.Footer {
    background-color: #222;
    padding: 20px 0 1px 0;
    width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Footer a {
    color: rgba(255, 255, 255, .7);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.Footer h5 {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
}


.lateral {
    border-left: 1px solid rgba(0, 0, 0, .1);
    ;
    margin-top: 24px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 20px;

    color: #666;
}

.lateral-bloc {
    margin-bottom: 20px;
}

.lateral a {
    color: #666;
}

a {
    color: #2aa67d;
}

.main-logo{
    position: relative;
    z-index: 300;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: #FDE101; */
    
}

.main-menu{
    position: sticky;
    top: 0;
    z-index: 1020;
}

.Menu .navbar {
    margin: 0;
    /* padding: 15px 0; */
    width: 100%;
    /* position: fixed;
    top: 0; */
    /* background-color: #FDE101; */
    background-color: #FFC400;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.Menu .navbar-brand {
    /* position: absolute; */
    height: 65px;
    /* padding: 0px 20px 10px 20px; */
    font-size: 1.5em;
    width: 350px;
}

.Menu .navbar-brand span {
    vertical-align: middle;

}

.Menu .navbar-brand-img {
    background-color: white;
    max-height: 100%;
    margin-left: 200px;
    padding: 10px;
}

.Menu .navbar-collapse{
    position: relative;
}

.Menu .navbar-nav {
    margin-left: 10%;
    margin-right: auto;
}

.Menu .navbar-nav .active>.nav-link {
    background-color: #fff;
    /* border-radius: 5px; */
    color: #550784;
    font-weight: bolder;
}

.Menu .navbar li:hover {
    background-color: rgba(255, 255, 255, .7);
    /* border-radius: 5px; */
}

.Menu .nav-item {
    margin-right: 5px;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Menu .nav-link {
    /* color: #000; */
    color: #550784 !important;
}

.Menu .navbar-light .navbar-nav .nav-link:hover,
.Menu .navbar a:hover {
    color: #550784;
}


/* décalage du menu de 1px pour éviter de sortir du focus avant d'être sur le sous menu */
.Menu .dropdown-menu {
    margin-top: -1px;
    border-radius: 0px;
    border: 0;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
    /* background-color: #e9ffe5; */
    background-color: #ffc400;
}

.Menu .dropdown-menu:hover {
    /* margin-top: -1px; */
    
}

.Menu .dropdown-menu .nav-link:hover {
    background-color: rgba(255, 255, 255, .7);
}

.navbar-toggler{
    position: relative;
    background-color: white;
}

.navbar-toggler-icon {
    color: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

li.disable>a {
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

li.disable {
    /* background-color: #067100 !important; */
}

.search-container input {
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 5px;
}

.search-container button {
    margin-left: -5px;
    padding: 1px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.search-container {
    margin: 0px 20px 40px 20px;
}



.map {
    height: 400px;
    width: 100%;
}


.big_btn {
    background-color: #067100;
    color: white;
}

.big_btn:hover {
    background-color: #FFC400;
    color: #df1117;
}


.banner {
    height: 40vh;
    overflow: hidden;
}

.image_banner {
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
}