{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Mentions légales' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelMentions.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <h2>Informations légales</h2>
  <p><strong>Dénomination sociale de l’établissement publiant le site</strong>
  MUSÉUM NATIONAL D’HISTOIRE NATURELLE, établissement public à caractère scientifique, culturel et professionnel, régi par le décret n°2001-916 du 3 octobre 2001 modifié ;
  Il a son siège 57, rue Cuvier, 75005 Paris ;

  Il est représenté par son Président, Bruno David
  Directrice de la publication : Fanny Decobert
  Responsable de la rédaction : Stéphanie Targui

  <strong>Copyright :</strong> © MUSÉUM NATIONAL D’HISTOIRE NATURELLE
  "Toute reproduction, utilisation ou représentation, intégrale ou partielle, des pages écrans, des données et de façon générale de tout élément constitutif du site www.mnhn.fr par quelque procédé et sur quelque support que ce soit est strictement interdite et constitue, sans autorisation écrite et préalable du MUSÉUM NATIONAL D’HISTOIRE NATURELLE, un délit de contrefaçon".

  <em>Engagement : L’éditeur s’engage à respecter l’ensemble du dispositif législatif concernant la mise en place et l’activité d’un site Internet.</em>

  Hébergement : OXYD</p>

  <h2>Informations contenues dans le site</h2>
  <p>Ce site est un site informatif. Il a pour objectif de présenter le MUSÉUM NATIONAL D’HISTOIRE NATURELLE et ses collections. Aucune information contenue sur le site ne saurait posséder ou être interprétée comme possédant une quelconque valeur contractuelle. Les textes à caractère scientifique publiés dans le site sont valables à la date de leur publication et ne sauraient engager leurs auteurs.
  Les informations portant sur les services ou les objets des collections ou toute autre information contenue sur le site sont issues de documents considérés comme fiables. Les informations sur le site sont régulièrement mises à jour.

  Les informations pratiques doivent, néanmoins, faire l’objet d’une vérification directe auprès du MUSÉUM NATIONAL D’HISTOIRE NATURELLE.
  Toutes les informations, qu’elles soient de nature pratique ou scientifique, ont un caractère exclusivement indicatif et sans aucun engagement de la part du MUSÉUM NATIONAL D’HISTOIRE NATURELLE. Toute information contenue sur le site peut être modifiée, à tout moment sans préavis, par le MUSÉUM NATIONAL D’HISTOIRE NATURELLE.

  Les informations contenues sur le site du MUSÉUM NATIONAL D’HISTOIRE NATURELLE ne constituent pas une offre de services ou de produits ni une sollicitation commerciale de quelque nature que ce soit, ni une recommandation ou un conseil. Le MUSÉUM NATIONAL D’HISTOIRE NATURELLE et les entités qui le composent ne seront pas tenues responsables pour toute décision prise ou non sur la base d’une information contenue sur le site, ni pour l’utilisation qui pourrait en être faite par un tiers. Ces informations ne sauraient engager la responsabilité du MUSÉUM NATIONAL D’HISTOIRE NATURELLE.</p>

  <h2>Loi applicable - Attribution de compétence</h2>
  <p>Le site, qui a pour langue officielle la  française, est soumis au droit français et relève de la compétence exclusive des juridictions françaises.</p>

  <h2>Droits de l'utilisateur</h2>
  <p>Le MUSÉUM NATIONAL D’HISTOIRE NATURELLE autorise l’utilisateur selon les présentes conditions et les règles d’usage sur l’Internet, à consulter gratuitement ce site, à simple titre d’information, uniquement pour son usage personnel et privé et à l’exclusion de toutes fins commerciales</p>

{%  endblock %}
