nav.single-pager {

  ul {
    border: .1rem solid $light-gray;
    display: block;
    margin: 0;
    padding: .5rem;
  }
  li {
    display: inline-block !important;
  }
  li a {
    display: inline-block;
    float: inherit;
    border: none;
    background: none;
    border-radius: 0 !important;
    color: $black;

    &:hover {
      color: $black;
    }

  }
}
