h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 1;

  &:first-child {
    margin-top: 0;
  }

  &.is-red {
    color: $red;
  }
  &.is-orange {
    color: $orange;
  }
  &.is-green {
    color: $green;
  }
  &.is-blue {
    color: $blue;
  }
  &.is-smallcase {
    text-transform: initial;
  }
}

.amatic-title {
  font-family: $amatic;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  font-size: 1.6rem;

  &.is-gray { color: $light-gray; }

  i {
    color: $darkBlue;
  }

  > ul.list-icons {
    display: inline-block;
    margin: 0 0 0 1.5rem;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: baseline;
      text-align: center;
      i {
        font-size: 2.5rem;
        color: $light-gray;
      }
    }
  }

}
