form {
  input, textarea,
  input:hover, input:focus, textarea:hover, textarea:focus {
    border-color: $light-gray !important;
  }
  .required { color: $green; font-weight: bold;}
  label {
    text-transform: uppercase;
    letter-spacing: .3rem;
  }
  input:not([type="checkbox"]), input:not([type="radio"]), textarea {
    box-shadow: none !important;
  }
  textarea {
    max-width: 100%;
    min-width: 100%;
  }
  .btn[type="submit"] {
    text-transform: uppercase;
    background: $green;
    border: none;
    padding: 1.5rem 1rem;
    transition: background .3s;

    &:hover {
      background: darken($green, 5%);
    }
  }

  @media (max-width: $screen-md-min) {
    .btn[type="submit"] {
      padding: .5rem;
    }
  }
}
