{% extends template_repo ~'/views/templates/default.html.twig' %}

{% block body %}

    Votre message a bien été envoyé !
    <br>
 
    {# <div id="map" class="map"></div>  #}
    <a class="btn btn-primary" href="{{ path('homepage') }}" >Retour à l'accueil</a>
 
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}