
.home_title{
    font-size: 1.5rem;
    color: green;
}

.home_btn{
    min-width: 30%;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: rgba(255,255,255,.2);
}

.carousel-indicators li{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
}
.carousel-indicators li.active{
    background-color: #067100;
}

/* .carousel-item{
    background-color: black;
} */
/* .carousel-item img{
    position: absolute;
    margin: auto;
} */